body{
	background-color: rgb(141,162,179);
}

h1{
	
}

img{
	width: auto;
	height: auto;
	 float: center;
	padding; 10px;
	border: 5px 
	border-color: #b18db3;
	border-radius: 10px;
	

}

li{
   text-align: left; 
}