body{
	font-family: 'Comfortaa', cursive;
	color: white;
	text-align: center;
	background-color: rgb(141,162,179);
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 48px;
	padding-bottom: 48px;
	border-top-color: white;
	border-top-width: 5px;
	border-top-style: solid;
	border-bottom-color: white;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

h1{font-size: 45px;}

h2{font-size: 30px;}

h3{font-size: 20px;}

h4{font-size: 15px;}

p{font-size: 15px;}

li{
	font-size: 15px;
   	text-align: left; 
}

img{
	width: 150px;
	height: 150px;
	float: right;
	padding: 0px;
	border: 5px solid #b18db3; 
	border-radius: 180px;
	box-shadow: 10px 10px 10px #51330c; 
	}

.webpreview{
	width: 336px;
	height: 200px;
	float: right;
	margin: 5px;
	border: 5px solid #b18db3; 
	border-radius: 10px;
	box-shadow: 10px 10px 10px #51330c; 
}



nav{
	text-decoration: none;
	}

nav span{
		font-style: italic;
		}

a:link, a:visited	{
color: 	white;
}

strong{
	font-style: italic;
}



